@import "../../vars.scss";

.button {
    $text: white;

    border-radius: 15px;
    text-align: center;
    color: $text;
    
    background-color: $color-main-lighten;
    padding: 15px 30px;
    font-weight: 400;
    transition: all 200ms;

    align-items: center;

    justify-items: center;
    justify-content: center;

    display: flex;
    flex-direction: row;
    

    &:hover {
        cursor: pointer;
        box-shadow: black 0px 0px 15px;
    }
    &:active {
        background-color: $color-main-lighten2;
        box-shadow: black 0px 0px 15px;
    }
}

.__red {
    background-color: rgb(179, 22, 22);
    &:hover {
        background-color: rgb(199, 56, 56);
    }
    &:active {
        background-color: rgb(148, 25, 25);
    }
}
.__green {
    background-color: #1E5128;
    &:hover {
        background-color: rgb(36, 102, 48);
    }
    &:active {
        background-color: rgb(20, 63, 28);
    }
}
.__disabled {
    background-color: $color-main-lighten;
    color: rgb(185, 185, 185);
    &:hover {
        cursor: not-allowed;
    }
    &:active{
        background-color: $color-main-lighten;
    }
}

.__clear {
    background: none;
    color: white;
    padding: 15px;
    &:hover {
        background: rgba(255, 255, 255, 0.1);
        box-shadow: none;
        box-shadow: rgba(0, 0, 0, 0.452) 0px 0px 15px;
    }
    &:active{
        background: rgba(255, 255, 255, 0.05);
    }
}