$color-main: #191A19;
$color-accent: #1E5128;
$color-accent-main: #4E9F3D;
$color-accent-text: #D8E9A8;

$color-main-lighten: #262726;
$color-main-lighten2:#3b3b3b;


$color-button: #1E5128;
$color-button-pressed: rgb(20, 63, 28);